.pure-g{letter-spacing:-.31em;*letter-spacing:normal;*word-spacing:-.43em;text-rendering:optimizespeed;font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;display:-webkit-flex;-webkit-flex-flow:row wrap;display:-ms-flexbox;-ms-flex-flow:row wrap}.opera-only :-o-prefocus,.pure-g{word-spacing:-.43em}.pure-u{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}.pure-g [class *="pure-u"]{font-family:sans-serif}.pure-u-1,.pure-u-1-2,.pure-u-1-3,.pure-u-2-3,.pure-u-1-4,.pure-u-3-4,.pure-u-1-5,.pure-u-2-5,.pure-u-3-5,.pure-u-4-5,.pure-u-1-6,.pure-u-5-6,.pure-u-1-8,.pure-u-3-8,.pure-u-5-8,.pure-u-7-8,.pure-u-1-12,.pure-u-5-12,.pure-u-7-12,.pure-u-11-12,.pure-u-1-24,.pure-u-5-24,.pure-u-7-24,.pure-u-11-24,.pure-u-13-24,.pure-u-17-24,.pure-u-19-24,.pure-u-23-24{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}.pure-u-1{width:100%}.pure-u-1-2{width:50%;*width:49.969%}.pure-u-1-3{width:33.3333%;*width:33.3023%}.pure-u-2-3{width:66.6667%;*width:66.6357%}.pure-u-1-4{width:25%;*width:24.969%}.pure-u-3-4{width:75%;*width:74.969%}.pure-u-1-5{width:20%;*width:19.969%}.pure-u-2-5{width:40%;*width:39.969%}.pure-u-3-5{width:60%;*width:59.969%}.pure-u-4-5{width:80%;*width:79.969%}.pure-u-1-6{width:16.6667%;*width:16.6357%}.pure-u-5-6{width:83.3333%;*width:83.3023%}.pure-u-1-8{width:12.5%;*width:12.469%}.pure-u-3-8{width:37.5%;*width:37.469%}.pure-u-5-8{width:62.5%;*width:62.469%}.pure-u-7-8{width:87.5%;*width:87.469%}.pure-u-1-12{width:8.3333%;*width:8.3023%}.pure-u-5-12{width:41.6667%;*width:41.6357%}.pure-u-7-12{width:58.3333%;*width:58.3023%}.pure-u-11-12{width:91.6667%;*width:91.6357%}.pure-u-1-24{width:4.1667%;*width:4.1357%}.pure-u-5-24{width:20.8333%;*width:20.8023%}.pure-u-7-24{width:29.1667%;*width:29.1357%}.pure-u-11-24{width:45.8333%;*width:45.8023%}.pure-u-13-24{width:54.1667%;*width:54.1357%}.pure-u-17-24{width:70.8333%;*width:70.8023%}.pure-u-19-24{width:79.1667%;*width:79.1357%}.pure-u-23-24{width:95.8333%;*width:95.8023%}.pure-g-r{letter-spacing:-.31em;*letter-spacing:normal;*word-spacing:-.43em;font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;display:-webkit-flex;-webkit-flex-flow:row wrap;display:-ms-flexbox;-ms-flex-flow:row wrap}.opera-only :-o-prefocus,.pure-g-r{word-spacing:-.43em}.pure-g-r [class *="pure-u"]{font-family:sans-serif}.pure-g-r img{max-width:100%;height:auto}@media (min-width:980px){.pure-visible-phone{display:none}.pure-visible-tablet{display:none}.pure-hidden-desktop{display:none}}@media (max-width:480px){.pure-g-r>.pure-u,.pure-g-r>[class *="pure-u-"]{width:100%}}@media (max-width:767px){.pure-g-r>.pure-u,.pure-g-r>[class *="pure-u-"]{width:100%}.pure-hidden-phone{display:none}.pure-visible-desktop{display:none}}@media (min-width:768px) and (max-width:979px){.pure-hidden-tablet{display:none}.pure-visible-desktop{display:none}}

$red: #c40707;

body {
    background: $red;
    font-family: "open sans";
}

.container {
    @media (min-width: 979px) {
        width:960px;
        margin-left:auto;
        margin-right:auto;   
    }
}

.underlay {
    width:100%;
    min-height:420px;
    margin-top:9px;
    background-color: lighten($red, 20%);
    border-radius:10px;
    padding:10px;
}

.box {
    background:white;
    min-height:420px;
}

.pad-box {
    padding:20px;
}

.inside {
    padding:20px;
    text-align:center;
    @media (min-width: 979px) {margin-top:30px;}
    img {vertical-align:bottom}
}

.bottom {
    vertical-align:bottom;
    margin-top:1px;
}

.earn {
    margin-top:10px;
}

.featured {
     @media (min-width: 979px) {margin-top:20px;}
     width:200px;
}

.featured-cont {
    text-align:center;
}

.footer-box {
    background-color: darken($red, 10%);
    border-radius:10px;
    padding:10px;
    width:100%;
    min-height:50px;
    margin-top:15px;
    font-size:.8em;
    color:#f1f1f1;
}

h3 {
    text-align:center;
    font-size:1em;
    margin-bottom:-10px;
    padding-bottom:0;
    margin-top:3em;
}

.cta {
        width:300px;
        height:50px;
        border:none;
        background:#0066cc;
        border-radius:4px;
        font-family:"open sans", sans-serif;
        color:white;
        font-size:1.1em;
        text-transform:uppercase;
        letter-spacing:2px;
        font-weight:600;
        margin-top:20px;
        cursor:pointer;
        position:relative;
        &:hover {
            background: lighten(#0066cc, 5%)
        }
    }

#second {
    h3 {
        margin:30px 0;
        font-size:1.4em;
        text-transform:uppercase;
        letter-spacing:1px;
        text-align:center;
        margin-top:30px;
    }

    .pad-box  {
        text-align:center;
    }
    .reasons {
        padding-left:40px;
        padding-right:40px;
    }
    .reasons li {
        list-style-image:url("marketing/right-bullet.png");
        text-align:left;
    }

    .cta:before, .cta:after {
        position: absolute;
        content: '';
        width: 260px;
        height: 1px;
        background-color: #d4d4d4;
        top: 50%;
    }


    .cta:before {
      right: -265px;
    }

    .cta:after {
      left: -265px;
    }
}
    .cta-box {
        text-align:center;
        margin: 30px 0;
    }

.fb-link {
font-size: .7em;
color: #0066cc;
margin-top: 9px;
}


.bttn{text-decoration:none;cursor:pointer;font-size:1em;padding:0 30px;font-weight:700;height:40px;line-height:18px;display:inline-block;outline:0;color:#444;background-color:#f5f5f5;background-image:-webkit-linear-gradient(top,whitesmoke,#f1f1f1);background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);background-image:linear-gradient(top,#f5f5f5,#f1f1f1);border:1px solid #d9d9d9;border:1px solid rgba(0,0,0,.1);border-radius:2px}.bttn:hover{border:1px solid #c6c6c6;border:1px solid rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.1);position:relative;z-index:1}.bttn:active{box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}.blue{color:#fff;background-color:#4D90fe;border:1px solid #3079ed;background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);background-image:linear-gradient(top,#4d90fe,#4787ed)}.blue:hover{background-color:#357aeb;border:1px solid #2F5bb7;background-image:-webkit-linear-gradient(top,#4d90fe,#357ae8);background-image:linear-gradient(top,#4d90fe,#357ae8);box-shadow:0 1px 2px rgba(0,0,0,.2)}.blue:active{box-shadow:inset 0 1px 2px rgba(0,0,0,.2)}.top-button{margin-top:45px;height:30px;font-size:.75em;padding:0 20px;float:right}.btn-fb-login{width:210px;height:38px;border:1px solid rgba(0,0,0,.3);border-radius:4px;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#486bb5),color-stop(100%,#334e87));background-image:-webkit-linear-gradient(top,#486bb5 0,#334e87 100%);background-image:linear-gradient(top,#486bb5 0,#334e87 100%);box-shadow:inset 0 1px 3px rgba(255,255,255,.2);cursor:pointer;margin-left:auto;margin-right:auto;background-image: -moz-linear-gradient(top, #486bb5 0, #233b6c 100%);}.btn-fb-login:hover{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#486bb5),color-stop(100%,#233b6c));background-image:-webkit-linear-gradient(top,#486bb5 0,#233b6c 100%);background-image:linear-gradient(top,#486bb5 0,#233b6c 100%)}.btn-fb-login .icon{background:url(http://s.cdpn.io/6035/fb_login_sprite.png) no-repeat;width:11px;height:50px;display:inline-block;float:left;margin:7px 10px}.btn-fb-login .title{font-family:"open sans";font-size:1em;color:#fff;line-height:39px;float:left;padding:0 10px;text-shadow:-1px -1px 1px rgba(0,0,0,.5);box-shadow:-1px 0 0 rgba(255,255,255,.1);border-left:1px solid rgba(0,0,0,.3)}.fb-login{display:none;width:100%;margin-top:20px;border:1px solid rgba(0,0,0,.3);border-radius:4px;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#486bb5),color-stop(100%,#334e87));background-image:-webkit-linear-gradient(top,#486bb5 0,#334e87 100%);background-image:linear-gradient(top,#486bb5 0,#334e87 100%);box-shadow:inset 0 1px 3px rgba(255,255,255,.2),0 0 25px rgba(0,0,0,.3)}.fb-login .login-form{width:155px;margin:10px}.fb-login .title{font-size:.875em;color:#fff;text-shadow:-1px -1px 1px rgba(0,0,0,.5);text-align:center;padding:10px 0;margin:0 0 10px}.fb-login input[type=text],.fb-login input[type=password]{width:100%;height:30px;margin:0 0 10px;padding:0 5px;display:inline-block;background:rgba(0,0,0,.1);border:1px solid rgba(0,0,0,.3);border-radius:3px;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow:inset 0 1px 3px rgba(40,40,40,.3),0 1px 0 rgba(255,255,255,.1);font-size:.6875em;color:#fff;outline:0;text-shadow:1px 1px 1px rgba(0,0,0,.4);-webkit-transition:background .3s ease;transition:background .3s ease}.fb-login input[type=text]:focus,.fb-login input[type=password]:focus{background:rgba(0,0,0,.03)}.fb-login .btn{width:100%;height:30px;border:1px solid rgba(0,0,0,.5);border-radius:4px;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#6486cf),color-stop(100%,#4a6baf));background-image:-webkit-linear-gradient(top,#6486cf 0,#4a6baf 100%);background-image:linear-gradient(top,#6486cf 0,#4a6baf 100%);box-shadow:inset 0 1px 2px rgba(255,255,255,.3),0 1px 1px rgba(0,0,0,.1);color:#fff;font-size:.75em;text-shadow:-1px -1px 1px rgba(0,0,0,.4)}.fb-login .btn:hover{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#6486cf),color-stop(100%,#3b5a99));background-image:-webkit-linear-gradient(top,#6486cf 0,#3b5a99 100%);background-image:linear-gradient(top,#6486cf 0,#3b5a99 100%)}.fb-login .btn:active{box-shadow:inset 0 0 4px rgba(0,0,0,.4);background:#35518d}li{line-height:1.8}