a {
    color:#a60404;
    text-decoration: none;
    outline:none;
}

ol,
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* Global structure ======================================================== */

.outerDiv { display:block; width:100%;}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

.fl {
	float: left;
}
.fr {
	float: right;
}

.button {
    font: bold 12px/55px Helvetica;
    color: #ffb6ae;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 20px;
    line-height:10px !important;
    height: auto !important;
    border:none;
    float:left;
    text-transform: uppercase;
    background:#ef1e1e;
    box-shadow: 0 1px 0px #750000;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f21f1f), to(#b90606));
    background: -webkit-linear-gradient(#f21f1f 0%, #b90606 100%);
    background: -moz-linear-gradient(#f21f1f 0%, #b90606 100%);
    background: -o-linear-gradient(#f21f1f 0%, #b90606 100%);
    background: linear-gradient(#f21f1f 0%, #b90606 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f21f1f', endColorstr='#b90606', GradientType=1);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f21f1f', endColorstr='#b90606', GradientType=1);

    }
.button:hover {
    background:#800000;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#830000), to(#3b0000));
    background: -webkit-linear-gradient(#830000 0%, #3b0000 100%);
    background: -moz-linear-gradient(#830000 0%, #3b0000 100%);
    background: -o-linear-gradient(#830000 0%, #3b0000 100%);
    background: linear-gradient(#830000 0%, #3b0000 100%) repeat scroll 0 0 #6f0000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#830000', endColorstr='#3b0000');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#830000', endColorstr='#3b0000');
}

.contents { display:block; padding:0 39px;}

.category-video { background: url("/assets/bg-main.png") left top repeat #eeeeee; padding:30px; margin-top:53px;}
#videos-loading { width: 300px; margin: 0px auto; overflow: hidden;}
#videos-loading span{ float: left; margin:7px;  font-size: 15px; font-weight: bold;}
#videos-loading img{ float: left;}

.action-panel {
	margin: 20px 0 18px 0;
	clear: both;
}
.action-panel ul {
	margin: 0;
	padding: 0;
}
.action-panel ul li {
	margin: 0;
	padding: 0 7px 0 0;
	float: left;
}
.action-panel ul li span {
	font-weight: normal;
}
.action-panel ul li a, .action-panel ul li a:visited {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
	font-family: 'helvetica_neueregular', Arial, Helvetica, sans-serif;
	display: block;
	float: left;
}
.action-panel ul li a:hover {
	text-decoration: underline;
}

ul.image-base {
	margin: 0;
	padding: 0;
}
ul.image-base li {
	line-height: 17px;
	color: #666666;
	font-size: 14px;
	font-family: 'helvetica_neueregular', Arial, Helvetica, sans-serif;
	display: inline-block;/*float: left;*/
}
ul.image-base li span {
	font-size: 12px;
	line-height: 17px;
	color: #666666;
}
ul.image-base li a, ul.image-base li a:visited {
	height: 17px;
	padding-left: 16px;
	line-height: 17px;
	display: block;
	font-size: 13px;
	color: #999999;
}

ul.image-base li a:hover {
	text-decoration: none;
}
ul.image-base li a.comments, ul.image-base li a.comments:visited {
	background: url("/assets/ico-comments.png") 0 -17px no-repeat;
}
ul.image-base li a.comments:hover {
	background: url("/assets/ico-comments.png") 0 0px no-repeat;
}
ul.image-base li a.sold, ul.image-base li a.sold:visited {
	background: url("/assets/ico-sold.png") left top no-repeat;
	 height: 12px; line-height: 12px !important; margin-top: 3px; padding-left: 19px;
}
ul.image-base li a.sold:hover {
	background: url("/assets/ico-sold.png") left bottom no-repeat;
}

ul.image-base li a.like, ul.image-base li a.like:visited {
	background: url("/assets/ico-like.png") 0 -17px no-repeat;
	margin-right: 3px;
}
ul.image-base li a.like:hover {
	background: url("/assets/ico-like.png") 0 0px no-repeat;
	margin-right: 3px;
}
ul.image-base li a.unlike, ul.image-base li a.unlike:visited {
	background: url("/assets/ico-unlike.png") 0 -17px no-repeat;
	margin-right: 3px;
}
ul.image-base li a.unlike:hover {
	background: url("/assets/ico-unlike.png") 0 0px no-repeat;
	margin-right: 3px;
}


.user-row {
	margin: 0 0 5px 0;
	display:block;
}

.comment-area { display:block;}
.comment-area .user-img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 6px;
	border: 1px solid #cdcdcd;
}
.comment-area .user-img img {
	width: 50px;
	height: 50px;
}

.comment-area textarea {
	margin: 0;
	padding: 0;
	float:left;
	width: 88%;
	height: 38px;
	padding: 5px 1%;
	border: 1px solid #999999;
	color: #999999;
	font-size: 14px;
	line-height: normal;
	font-family: 'helvetica_neueregular', Arial, Helvetica, sans-serif;
	resize: none;
	background-color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.comment-area .textarea-info {
	margin-top: 5px;
	text-align: right;
	display:block;
	clear:both;
	padding-right:95px;
}

.video-player { display:block;}


@media only screen and (min-width: 481px) and (max-width: 767px)  {

.comment-area { display:block;}
.comment-area .user-img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 6px;
	border: 1px solid #cdcdcd;
}
.comment-area .user-img img {
	width: 50px;
	height: 50px;
}

.comment-area textarea {
	margin: 0;
	padding: 0;
	float:left;
	width: 79%;
	height: 38px;
	padding: 5px 1%;
	border: 1px solid #999999;
	color: #999999;
	font-size: 14px;
	line-height: normal;
	font-family: 'helvetica_neueregular', Arial, Helvetica, sans-serif;
	resize: none;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.comment-area .textarea-info {
	margin-top: 5px;
	text-align: right;
	display:block;
	clear:both;
	padding-right:10px;
}

.comment-area .textarea-info {
	margin-top: 5px;
	text-align: right;
	display:block;
	clear:both;
	padding-right:60px;
}



}


@media only screen and (min-width: 320px) and (max-width: 480px){

	.comment-area { display:block;}
.comment-area .user-img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 6px;
	border: 1px solid #cdcdcd;
}
.comment-area .user-img img {
	width: 50px;
	height: 50px;
}

.comment-area textarea {
	margin: 0;
	padding: 0;
	float:left;
	width: 61%;
	height: 38px;
	padding: 5px 1%;
	border: 1px solid #999999;
	color: #999999;
	font-size: 14px;
	line-height: normal;
	font-family: 'helvetica_neueregular', Arial, Helvetica, sans-serif;
	resize: none;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.comment-area .textarea-info {
	margin-top: 5px;
	text-align: right;
	display:block;
	clear:both;
	padding-right:10px;
}

.comment-area .textarea-info {
	margin-top: 5px;
	text-align: right;
	display:block;
	clear:both;
	padding-right:60px;
}

}





header {
  min-height: 45px;
  height: 45px;
  border-bottom: 0px;
  background-color: #c40707;
}
/* line 10, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-logo {
  padding-left: 15px;
  padding-top: 1em;
}
/* line 14, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .pure-menu.pure-menu-open {
  background: transparent;
}
/* line 17, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav {
  float: right;
  margin-right: 15px;
}
@media (max-width: 767px) {
  /* line 17, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header .h-nav {
    width: 100%;
    float: left;
  }
  /* line 23, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header .h-nav ul {
    padding-left: 0;
    padding-top: 16px;
  }
}
/* line 26, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav #h-account {
  height: 18px;
}
@media (max-width: 767px) {
  /* line 26, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header .h-nav #h-account {
    width: 100%;
  }
}
/* line 31, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav a, header .h-nav .name-header {
  text-decoration: none;
  padding: 14px 18px 14px 18px;
  color: #fefefe;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
}
/* line 39, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav a:hover, header .h-nav .name-header:hover {
  background: rgba(255, 255, 255, 0.11);
}
/* line 42, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav .nav {
  margin: 0;
}
@media (min-width: 768px) {
  /* line 43, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header .h-nav .responsive {
    display: none;
  }
}
/* line 45, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav .btn-fix {
  margin-right: 3px;
}
/* line 49, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav li, header .h-nav .name-header {
  height: 45px;
  text-align: center;
  color: #fefefe;
  font-weight: 400;
  font-size: 1em;
}
@media (min-width: 768px) {
  /* line 49, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header .h-nav li, header .h-nav .name-header {
    border-left: 1px solid #a3201f;
    float: right;
  }
}
@media (min-width: 768px) {
  /* line 49, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header .h-nav li, header .h-nav .name-header {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  /* line 49, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header .h-nav li, header .h-nav .name-header {
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 1.1em;
  }
}
/* line 63, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav li img, header .h-nav .name-header img {
  display: inline-block;
}
/* line 64, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav li .upload-ico, header .h-nav .name-header .upload-ico {
  margin-left: 12px;
  margin-top: 1px;
}
/* line 68, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav li .n-name, header .h-nav .name-header .n-name {
  font-weight: 600;
}
/* line 74, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav li .n-sign-up, header .h-nav .name-header .n-sign-up {
  background: #fefefe;
  color: #c40707;
  height: 22px;
  font-size: 1.05em;
  padding: 14px 20px 14px 20px;
  border-radius: 0 0 5px 5px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 85, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav li .arrow-ico, header .h-nav .name-header .arrow-ico {
  margin-left: 6px;
  margin-top: 5px;
}
/* line 90, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav li .face-mask, header .h-nav .name-header .face-mask {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  /* Saf3+, Chrome */
  border-radius: 25px;
  /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px; Disabled for FF1+ */
  margin-top: -7px;
  margin-left: 6px;
  vertical-align: -37%;
}
/* line 102, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav .n-upload {
  border-radius: 4px;
  background: #bb2a24;
  border: 1px solid #a3201f;
  margin: 7px 0 0px 0;
  height: 30px;
}
/* line 108, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav .n-upload:hover {
  background: rgba(255, 255, 255, 0.11);
}
/* line 110, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav .n-upload a {
  margin-top: -7px;
}
/* line 112, ../../../app/assets/stylesheets/new/header_footer.css.scss */
header .h-nav .n-upload a:hover {
  background: none;
}
@media (max-width: 767px) {
  /* line 117, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header .h-nav .n-upload {
    height: 45px;
  }
  /* line 119, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header .h-nav .n-upload a {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  /* line 124, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header #toggle {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 129, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header #collapse-nav {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }
  /* line 136, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header #collapse-nav {
    top: 0;
    width: 100%;
    position: relative;
  }
  /* line 142, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header #collapse-nav.opened {
    max-height: 9999px;
  }
  /* line 143, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header #collapse-nav a:hover {
    background: transparent;
  }
  /* line 144, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header #collapse-nav .active a:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
  }
  /* line 145, ../../../app/assets/stylesheets/new/header_footer.css.scss */
  header #toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 70px;
    height: 24px;
    float: right;
    margin: 0px 0 0 0;
    text-indent: -9999px;
    overflow: hidden;
    background: #fefefe url("new/hamburger.gif") no-repeat 50% 50%;
  }
}
.pure-u-1-5 {
width: 20%;
}
.pure-u-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-5-24, .pure-u-7-24, .pure-u-11-24, .pure-u-13-24, .pure-u-17-24, .pure-u-19-24, .pure-u-23-24 {
display: inline-block;
zoom: 1;
letter-spacing: normal;
word-spacing: normal;
vertical-align: top;
text-rendering: auto;
}
.pure-u-4-5 {
width: 78%;
}