    // Color
    $red: #c40707;
    $gray: #c7c7c7;
    $white:#fefefe;
    $blue: #085eb5;
    $border: rgba(7,7,7,.25);
    // Functional variables
    $graybackground: #e5e5e5;
    $grayborder: #a0a0a0;
    $grayinput: #f8f8f8;
    $grayinputborder:#c1c1c1;
    $grayside: #f4f4f4;
    $graysteptext:#666666;
    $labelcolor:#444444;