/*
	The most common css rules in 3 types of canvas
*/
/*.projekktor{ 
  background-color: transparent; 
}
#vdo-player_media{
  background-color: #000;
}
.ppstart{z-index: 10;}
.ppbuffering{z-index: 9;}
*/