.projekktor {
    background-color:#000;
    font-family: 'Lucida Grande', 'Trebuchet MS', Arial, Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    text-align:center;
    text-transform:uppercase;
    text-shadow: 0 1px 1px #0c0c0c;
    padding:0;
    margin:0;
    display:block;
    position: relative;
    overflow: hidden;
	margin:0 auto !important;
}

.projekktor .inactive {
    display: none;
}
.ppcontrols.inactive{
	display:block;
}
.projekktor .active {
    display: block;
}

.ppdisplay {
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
.ppstart {
    position: absolute;
    cursor: pointer;
    width: 82;
    height: 82;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background:url(/assets/fb_app/images/player/play-transparent.png) center center no-repeat;
}
.ppstart:hover {
    background:url(/assets/fb_app/images/player/play-transparent.png) center center no-repeat;
}
.ppstart:active{
    background:url(/assets/fb_app/images/player/play-transparent.png) center center no-repeat;
}


.ppcontrols {
    position: absolute;
    bottom: 0;
    right:0;
    display: block;
    width: 100%;
    height: 31px;
    padding: 0;
    margin:0;
}

.ppcontrols ul {
    list-style-type: none;
}

.ppcontrols ul.left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin:0;
}

.ppcontrols ul.right {
    background: image-url("/assets/fb_app/images/player/player.png") repeat-x scroll 0 0 #0f0e0e;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin:0;
}

.ppcontrols ul.bottom {
    position: relative;
    top: 31px;
    left: 0;
    padding: 0;
    margin:0;
}


.ppcontrols ul.left li {
    float: left;
    position: relative;
}

.ppcontrols ul.right li {
    float: right;
    position: relative;
}

.pptitle {
    padding: 0 10px;
    color: #fff;
    overflow: hidden;
    text-align: left;
    line-height: 30px;
    height:30px;
    border-left:1px solid #413e3e;
    font-size:11px;
    cursor: pointer;
}


/* PLAY / PAUSE - left */
.ppplay,
.pppause  {
    background: image-url("/assets/fb_app/images/player/ico-play.png") center center no-repeat;
    width: 30px;
    height: 31px;
    cursor: pointer;
    /*border-right: 1px solid #000;*/
}

.ppplay:hover {
    background: image-url("/assets/fb_app/images/player/ico-play.png") center center no-repeat;
}
.ppplay:active {
    background: image-url("/assets/fb_app/images/player/ico-play.png") center center no-repeat;
}

.pppause {
    background: image-url("/assets/fb_app/images/player/ico-pause.png") center center no-repeat;
}

.pppause:hover {
    background: image-url("/assets/fb_app/images/player/ico-pause.png") center center no-repeat;
}

.pppause:active {
    background: image-url("/assets/fb_app/images/player/ico-pause.png") center center no-repeat;
}



/* Enter / Exit Fullscreen - right */
.projekktor.audio .ppfsenter,
.projekktor.audio .ppfsexit {
    display: none;
}

.ppfsenter,
.ppfsexit  {
   	height: 31px;
	line-height: 31px;
	display: block;
	float: left;
	width: 28px;
	background: image-url("/assets/fb_app/images/player/ico-resize.png") 7px center no-repeat;
	padding-left:5px;
	color: #ffffff;
}
.ppfsenter, .ppfsenter:hover {
    background: image-url("/assets/fb_app/images/player/ico-resize.png") no-repeat scroll 7px center transparent;
}
.ppfsenter:active {
    background: image-url("/assets/fb_app/images/player/ico-resize.png") no-repeat scroll 7px center transparent;
}
.ppfsexit {
    background: image-url("/assets/fb_app/images/player/ico-exit.png") no-repeat scroll 6px center transparent !important;
}
.ppfsexit:hover {
    background: image-url("/assets/fb_app/images/player/ico-exit.png") no-repeat scroll 6px center transparent;
}
.ppfsexit:active {
    background: image-url("/assets/fb_app/images/player/ico-exit.png") no-repeat scroll 6px center transparent;
}



/* Unmute / Max volume - right */
.ppvmax {
    height: 31px;
	line-height: 31px;
	display: block;
	float: left;
	background: image-url("/assets/fb_app/images/player/ico-mute.png") center center no-repeat;
	width: 22px;
}


/* Mute / Min volume - right */
.ppmute  {
    height: 31px;
	line-height: 31px;
	display: block;
	float: left;
	background: image-url("/assets/fb_app/images/player/ico-voice.png") center center no-repeat;
	width: 22px;
}

/* volume slider - right */
/*.ppvslider {
    
	margin:0;
	padding:5px;
	display:none;
	width:120px;
	height:10px;
	position:absolute;
	left:10px;
	bottom:30px;
	background-color:#1f1f1e;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding-left:5px;
	padding-right:5px;
}*/

.ppvmarker {
    /*position: relative;
    right:0;
    left: 0;
    height: 6px;
    width: 100%;
    background: image-url("maccaco.png") no-repeat -634px -13px transparent;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#a62a2c;
	width:100%;
	height:7px;
	max-height:100px;
	position:absolute;
	bottom:7px;
	left:5px;
	display:block;
	right:5px;
}

.ppvknob  {
    cursor: pointer;
    z-index: 201;
    position: relative;
    background: image-url("/assets/fb_app/images/player/knob.png") no-repeat 0 0 transparent;
    top:-4px;
    left:5px;
    width: 13px;
    height: 13px;
}



/* time / time left */
.pptimeleft {
	padding:0 14px 0 25px;
	height: 31px;
	line-height: 31px;
	display: block;
	/*float: left;
	width: 50px;*/
	background: image-url("/assets/fb_app/images/player/ico-clock.png") 0px -3px no-repeat;
	color: #ffffff;
	overflow:hidden !important;
	min-width:125px;
}

span.btnpreview, span.btnabout {margin: 6px 5px 0 !important;}
.button a:hover { text-decoration: none; }

@media (width: 426px) {
  .pptimeleft {padding: 0;background: none;}
  .btnpreview {display: none !important;}

  .pop-full h2 {
    margin: 0;
    padding: 0px 0 0px 0;
    /*width: 100%;*/
    overflow: hidden;
    font-size: 15px;
    line-height: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    opacity: 1;
    font-weight: normal;
    float: left;
    text-shadow: 1px 1px 1px #333;

}
  .pop-full h3 {
    margin: 0;
    padding: 0 0 0px 0;
    font-size: 15px;
    line-height: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #be0d0f;
  }

  .pop-full p {
    margin: 0 auto;
    width: 98%;
    padding: 0px 0 0px 0;
    font-size: 12px !important;
    line-height: 18px;
    font-family: Helvetica, Arial, sans-serif;
    color: #cccccc;
    overflow: hidden;
    text-overflow: ellipsis
  }
  .more1{
    display: none !important;
  }
  .more2{
    display: block !important;
  }
  .pop-full .content{
  width:95%;
  }
}
/* special for single
.pptimeleft {
background: image-url("maccaco.png") no-repeat -91px top transparent;
}
*/




/* previous / next item */
.ppnext,
.ppprev {
    display:block;
    background: image-url("/assets/fb_app/images/player/maccaco.png") no-repeat -59px top transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-left:1px solid #413e3e;
    border-right:1px solid #000;
}
.ppnext { border-right:none;}
.ppnext:hover {
    background: image-url("/assets/fb_app/images/player/maccaco.png") no-repeat -59px -35px transparent;
}
.ppnext:active {
    background: image-url("/assets/fb_app/images/player/maccaco.png") no-repeat -59px -36px transparent;
}

.ppprev {
    background: image-url("/assets/fb_app/images/player/maccaco.png") no-repeat -32px top transparent;
}

.ppprev:hover {
    background: image-url("/assets/fb_app/images/player/maccaco.png") no-repeat -32px -35px transparent;
}
.ppprev:active {
    background: image-url("/assets/fb_app/images/player/maccaco.png") no-repeat -32px -36px transparent;
}



/* Scrubber, Playhead and fluff */
.ppscrubber {
    position: absolute;
    height: 5px;
    width: 100%;
    background: image-url("/assets/fb_app/images/player/maccaco-load.gif") repeat-x left top transparent;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #000;
}

.audio .ppscrubber {
    background: image-url("/assets/fb_app/images/player/maccaco-load-static.png") repeat-x left top transparent;
}

.ppscrubberdrag {
    cursor: pointer;
    z-index: 302;
    position: absolute;
    background-color: transparent;
    top:0;
    left:0;
    height: 5px;
    width: 100%;
}

.ppplayhead, .pploaded {
    position: relative;
    display: block;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 1px;
    background-color:#a62a2c;
    cursor: pointer;
    z-index: 301;
}

.ppcuepoint {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: yellow;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 302;
}

.ppcuepoint:hover {
    background-color: red;
    cursor: pointer;
}

.pploaded {
    position: relative;
    z-index: 10;
    background: rgb(65, 62, 62) ;
    opacity: 0.8;
    /* ie7 */
    filter: alpha(opacity = 80);
    /* ie8 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.ppplayhead {
    margin-top: -5px;
}


.pptestcard {
    /*background: url("/assets/fb_app/images/player/noise.gif") center center repeat;*/
    width: 100%;
    height: 100%;
    /*color: #fff;*/
    font-size: 18px;
    overflow: hidden;
}

.pptestcard p {
    background:none;
	background-color:transparent;
	/*background-color: #3b393e;
    width: 60%;
    margin: auto;
    line-height: 25px;
    position: relative;
    top: 25%;
    padding: 10px;
    border:5px solid #000;
    text-align: center; */
}

.ppbuffering {
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left: -28px;
    margin-bottom: -26px;
    display: block;
    z-index:9010;
    padding: 0px;
    background: url("/assets/fb_canvas_app_loading.gif") no-repeat center center #000;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: none;
}

.pop-full{
	left:43px !important;
}
.projekktor {
	margin:0 auto !important;
}

.ppcontrols.active {
    filter: alpha(opacity=100);    
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);    
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;    
}


.ppcontrols.inactive {
    filter: alpha(opacity=0);        
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);    
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}